{% if user.is_authenticated %}
    <div class="info text-center" data-service="{{ service.pk }}">Choose a date to make an appointment</div>
    <div class="calendar d-flex flex-wrap mt-3" data-shift="0">
        <div class="month d-flex justify-content-center w-100">
            <div class="back-button">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-left-fill" viewBox="0 0 16 16">
                  <path d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z"/>
                </svg>
            </div>
            <div class="month-name"></div>
            <div class="forth-button">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                  <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
                </svg>
            </div>
        </div>
        {% for i in weeks %}
            <div class="d-flex flex-wrap justify-content-center week w-100">
                {% for i in days %}
                    <div class="align-items-center day d-flex justify-content-center"></div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
    <div class="time"></div>
{% else %}
    <div class="info text-center">Please log in to make appointments.</div>
{% endif %}