<!--This template is used on a post page-->

{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    <div class="container">

        <!--Header part contains post title, like and edit buttons-->
        <div class="header">
            <h1 class="post-title">{{ post.title }}</h1>
            <div class="buttons">
                <div class="likes">
                    {% if user.is_authenticated %}
                        <a class="like" data-id="{{ post.id }}" {% if user in post.likes.all %}data-status="true"{% else %}data-status="false"{% endif %} href=#></a>
                        {% else %}
                            <svg class="like-inactive" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-suit-heart" viewBox="0 0 16 16">
                                <path d="m8 6.236-.894-1.789c-.222-.443-.607-1.08-1.152-1.595C5.418 2.345 4.776 2 4 2 2.324 2 1 3.326 1 4.92c0 1.211.554 2.066 1.868 3.37.337.334.721.695 1.146 1.093C5.122 10.423 6.5 11.717 8 13.447c1.5-1.73 2.878-3.024 3.986-4.064.425-.398.81-.76 1.146-1.093C14.446 6.986 15 6.131 15 4.92 15 3.326 13.676 2 12 2c-.777 0-1.418.345-1.954.852-.545.515-.93 1.152-1.152 1.595L8 6.236zm.392 8.292a.513.513 0 0 1-.784 0c-1.601-1.902-3.05-3.262-4.243-4.381C1.3 8.208 0 6.989 0 4.92 0 2.755 1.79 1 4 1c1.6 0 2.719 1.05 3.404 2.008.26.365.458.716.596.992a7.55 7.55 0 0 1 .596-.992C9.281 2.049 10.4 1 12 1c2.21 0 4 1.755 4 3.92 0 2.069-1.3 3.288-3.365 5.227-1.193 1.12-2.642 2.48-4.243 4.38z"/>
                            </svg>
                    {% endif %}
                    <div class="count">{{ post.likes.all|length }}</div>
                </div>
                <div class="edit-button">
                    {% if not user.is_authenticated or user.is_authenticated and user != post.author %}
                        Author: <a class="author-name" href="{% url 'user' post.author.id %}">{{ post.author }}</a>
                    {% elif user == post.author %}
                         <a class="btn btn-outline-info btn-sm edit" data-id="{{ post.id }}"href=#>
                            Edit
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                                <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                            </svg>
                        </a>
                    {% endif %}
                </div>
                <div class="header-date">{{ post.timestamp }}</div>
            </div>
        </div>

        <!--Text of a post-->
        <div class="content">
            {% csrf_token %}
            <p class="text">{{ post.content }}</p>
        </div>

        <hr class="line">

        <!--All comments for a post and a comment form-->
        <div class="commentaries">
            {% if user.is_authenticated %}
                <form class="comment-form" action="{% url 'comment' post.id %}" method="POST">
                    {% csrf_token %}
                    <div>Add a comment:</div>
                    <div>{{ comment.text }}</div>
                    <div><input class="btn btn-outline-success btn-sm"type="submit"></input></div>
                </form>
            {% endif %}
            <h3 class="subtitle">{{ post.comments.all|length }} commentaries</h3>
            {% if post.comments.all|length %}
                {% for post_comment in post.comments.all %}
                    <div class="commentary">
                        <div class="commentary-header">{{ post_comment.timestamp }}&nbsp;<a href="{% url 'user' post_comment.user.id %}">{{ post_comment.user.username }}</a>:</div>
                        {{ post_comment.text }}
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        
    </div>
{% endblock %}

{% block script %}
    <script type="module" src="{% static 'network/post.js' %}" defer></script>
{% endblock %}